.container {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.chartBox {
  margin-top: 2rem;
}
nav {
  background-color: #34495e;
}
@media (max-width: 28.9em) {
  h2 {
    font-size: 1.25rem;
  }
  .chartBox {
    margin-top: 1rem;
  }
  .bi {
    padding-right: 1rem;
  }
}
.navbar-toggler {
  color: white;
}
.title {
  font-family: 'Merriweather', serif;
  color: white;
  text-align: center;
  padding-top: 0.25rem;
}
