* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  background-color: #ecf0f1;
  font-family: "Ubuntu Mono", monospace;
  line-height: 1.25;
  font-weight: 400;
  color: #2c3e50;
}
.navbar {
  height: 3rem;
}

.hero,
.footer {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-fluid {
  max-width: 1000px;
}

.hero {
  max-width: 500px;
}
.text-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}
ion-icon {
  font-size: 64px;
}
.index-icon,
.hero-card,
.card-icon {
  text-align: center;
}
.card {
  background-color: #ecf0f1;
  border: none;
  margin-bottom: 3rem;
}
.box-area {
  align-items: center;
}
.index-card {
  position: relative;
  display: inline-block;
}
.index-card .hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.index-card:hover .hidden {
  display: inline;
}
.test-body {
  height: 100vh;
  background: url(runners.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: blue;
}
