.container {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.chartBox {
  margin-top: 2rem;
}
.bi {
  font-size: 1.25rem;
  color: white;
  padding-left: 0.5rem;
}
nav {
  background-color: #34495e;
}
.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}
h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  vertical-align: baseline;
  color: #2d3436;
}

.navbar-toggler {
  color: white;
}
#page-title {
  text-align: center;
  padding-top: 0.75rem;
}
