/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.gallery {
  background: #eee;
  max-width: 900px;
}

.gallery-cell {
  width: 45%;
  height: 400px;
  margin-right: 20px;
  margin-top: 20px;;
  background: #8c8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 400px;
  font-size: 80px;
  color: white;
}
 