* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
/* hide scrollbar but allow scrolling */
.horizontal-snap {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.horizontal-snap::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.horizontal-snap {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: 275;
  padding: 1rem;
  max-width: 1000px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.horizontal-snap > a {
  scroll-snap-align: center;
}

.horizontal-snap .img-fluid {
  width: 250px;
  max-width: none;
  object-fit: contain;
  border-radius: 1rem;
}
